@font-face {
  font-family: "29LT Bukra";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/29LT Bukra-Light.otf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "29LT Bukra";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/29LT Bukra-Medium.otf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "29LT Bukra";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/29LT Bukra-Bold.otf"); /* IE9 Compat Modes */
}
