@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Cairo-Regular.ttf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Cairo-SemiBold.ttf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Cairo-Bold.ttf"); /* IE9 Compat Modes */
}
